[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
fastapi = "*"
jsql = "*"
python-dotenv = "*"
mysql-connector-python = "*"
sqlalchemy = "*"
uvicorn = "*"
jinja2 = "*"
requests = "*"

[dev-packages]
autoflake = "*"
black = "*"

[requires]
python_version = "3.10"
